* {
  padding: 0px;
  font-family: "Montserrat";
}

.montserrat- {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-container {
  padding: 0px !important; 
  margin: 0px !important; 
  height: 100vh; 

  display: flex; 
  flex-direction: column;
}


#navbar1 {  
  height: 14.5%;
  overflow: hidden;
}
#navbar1-div {
  height: 100%;

  background-image: linear-gradient(to right, #F6E0BB, #C2BCB2);
  border: #000; 
  border-style: solid;
  justify-content: center;
}

#navbar2 {
  height: 4.5%;

  height: 5%; 
  padding: 0px;
  margin: 0px;

  background-image: linear-gradient(to left, #F6e0bb, #c2bcb2); 
  border: #000; 
  border-top: 0px ; 
  border-style: solid;

  align-items: center;
  justify-content: center;
  align-content: center;
}

.navbar-items {
  display: flex;
  flex-direction: row;

  height: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;

  align-self: center;
  justify-self: center;

  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  padding: 0px;
  font-size: 1.3rem;

  height: 90%;
  width: fit-content;
  user-select: none;
  
  color: black!important;

  text-align: center;

  transition: color 0.3s ease;
  filter: drop-shadow(1px 1px 2px #000000cc);
}
.nav-link:hover {
  color: #dbeddd !important;
}


#l1 {
  align-content: center;
  image-resolution: 50px;
}

.logo {
  height: 100%;

  display:flex; 
  user-select: none;

  padding-left: 10px;
  text-shadow: 1px 1px 3px #0000007b;
  align-items: center;
}

.logo .img-logo {
  filter: drop-shadow(1px 1px 3px #00000094);

  width: 70px; 
  height: 70px;
}

.logo .texto-logo {
  display: flex; 
  flex-direction: column;
  text-align: center; 
 
  font-size:2rem; 
  justify-content: center;
  height: fit-content;
}

.container01 {
  width: 100%;
  max-width: 500vw;
  height: 85%;
  overflow:hidden;

  background-color: #546D57;
  position: relative;
  display: block;
}

.main-text {
  user-select: none;
  position: relative;
  width: 85%;
  height: calc(fit-content + 25vh);
  justify-self: center;
  padding: 0;
  line-height: 4vh;
  margin-top: 2vh;

  text-align: center;
  color: #ffffff;
  font-size: 4vh;
  font-weight: bolder;
  text-shadow: 2.5px 2.5px 1px rgba(0, 0, 0, 0.25);

  background-color: #00000037;
  border-radius: 10px;
}

.fundo {
  user-select: none;

  position: absolute;
  width: 100%;
  height: 180%;

  filter: blur(2px);
  opacity: 35%;
  transform: translate(0%, -7.5%);
}

.slider {
  width: 100%;
  padding: 0;

  justify-self: center;
}

.slider-item {
  text-align: center;
  list-style: none;
}


.slider-link {
  text-decoration: none;
  filter: drop-shadow(3px 3px 2px #000000cc);

  text-decoration: none;
  color: #fff;

  transition: transform 0.3s ease;
  animation: aparecer 1.5s ease none;
}
.slider-link, a:link, a:visited{
  text-decoration: none!important;
}

.slider-texto {
  align-self: center;
}


#imgs {
  height: 50vh;
  border-radius: 10px;

  cursor: pointer;
  padding: 0;

  border-style: solid;
  border-color: #000;

  filter: drop-shadow(3px 3px 2px #000000cc);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 7.5vh!important;
  width: 6.5vw!important;

  border-style: solid;
  border-color: #fff;
  border-radius: 20px;
}

#footer {
  display: flex;
  height: 5.5vh;

  justify-content: center;
  align-content: center;

  border-style: solid;
  border-color: #000;
  border-bottom: 0;

  background-image: linear-gradient(to left, #F6e0bb, #c2bcb2); 
}
.unex-logo {
  filter: drop-shadow(1px 1px 1px #000000cc);
  width: 4vw;
}

/* Responsividade */

@media (max-width: 840px) {
  .main-text {
    font-size: 1rem;
  }
}

/* Para telas menores que 576px (smartphones) */
@media (max-width: 576px) {
  #navbar1 {  
    height: 25%;
    overflow: hidden;
  }

  #navbar2 {
    height: 7.5%;
  }
  .nav-link {
    font-size: 0.9rem;
  }

  .img-logo {
    height: 11vh;
    width: 20vw;
  }

  .texto-logo {
    font-size: 1.6rem
  }

  .container01{
    height: 200%;
  }

  .fundo {
    width: 400%;

    left: -35%;
  }

  .main-text {
    font-size: 1rem;
    line-height: 3.5vh;

    margin-top: 2.5vh;
  }

  #imgs {
    height: 33.3vh;
    width: 76vw;
  }

  .unex-logo {
    width: 10vw;
  }
}




@keyframes aparecer {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}